body {
  padding: 3%;
  background: url('../assets/leader-back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

#main-title {
  color: white;
  text-align: center;
  margin: 0;
}

.recent-add {
  display: flex;
  margin: 5%;
  justify-content: space-between;
}

.recent {
  width: 45%;
}

.title-and-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#refresh,
#submit {
  height: 2rem;
  width: 40%;
  margin-left: 2%;
  border: 0;
  color: white;
  background: rgb(255, 77, 74);
  border-radius: 5px;
  cursor: pointer;
}

.results {
  height: 50vh;
  overflow-y: scroll;
  background: white;
  border-radius: 5px;
}

.results::-webkit-scrollbar {
  display: none;
}

.results p {
  padding: 2%;
  margin: 0;
}

.results p:nth-child(even) {
  background: rgb(67, 192, 134);
  color: white;
  font-size: 1rem;
}

.addscore {
  display: flex;
  flex-direction: column;
  width: 45%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addscore input {
  margin: 3% 0;
  height: 10%;
  padding-left: 4%;
  border-radius: 5px;
  border: 0;
  outline: none;
}

#submit {
  margin: 3% 0 0 auto;
}

#alert {
  color: rgb(192, 6, 6);
  display: none;
}

@media only screen and (max-width: 768px) {
  .recent-add {
    flex-direction: column;
  }

  .recent,
  .addscore {
    width: 95%;
    align-self: center;
  }

  input {
    padding: 4%;
  }

  h2 {
    color: whitesmoke;
  }
}