body {
  padding: 3%;
  background: url('../assets/leader-back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

#main-title {
  color: white;
  text-align: center;
  margin: 0;
}

.recent-add {
  display: flex;
  margin: 5%;
  justify-content: space-between;
}

.recent {
  width: 40%;
}

.title-and-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#refresh,
#submit {
  height: 2rem;
  width: 40%;
  margin-left: 2%;
  border: 0;
  color: white;
  background: rgb(255, 77, 74);
  border-radius: 5px;
  cursor: pointer;
}

.results {
  height: 50vh;
  overflow-y: scroll;
  background: white;
}

.results::-webkit-scrollbar {
  display: none;
}

.results p {
  padding: 2%;
  margin: 0;
}

.results p:nth-child(even) {
  background: rgb(67, 192, 134);
  color: white;
  font-size: 1rem;
}

.addscore {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.addscore input {
  margin: 3% 0;
  height: 10%;
  padding-left: 2%;
  border-radius: 5px;
  border: 0;
}

#submit {
  margin: 3% 0 0 auto;
}
